.clearfix{clear:both;}

.youtube-video-container{width:100%; max-width: 1140px; margin: 0 auto 20px;}

.youtube-video-container.two-column-layout .main-video-container{width: 65%; display: inline-block;}
.youtube-video-container.two-column-layout .small-video-container{width: 31%; display: inline-block; margin-left: 2%;}

.youtube-video-container.two-column-layout.single-col-3 .main-video-container{width: 50%;}
.youtube-video-container.two-column-layout.single-col-3 .small-video-container{width: 47%;}

.youtube-video-container.two-column-layout.single-col-4 .main-video-container{width: 45%;}
.youtube-video-container.two-column-layout.single-col-4 .small-video-container{width: 52%;}

.youtube-video-container.two-column-layout.single-col-5 .main-video-container{width: 40%;}
.youtube-video-container.two-column-layout.single-col-5 .small-video-container{width: 57%;}

.youtube-video-container.single-col-2 .small-video-block .single-video{width: 49%; display: inline-block; margin: 0 1% 19px;}
.youtube-video-container.single-col-2 .small-video-block .single-video:nth-child(2n + 1){margin-left: 0px;}
.youtube-video-container.single-col-2 .small-video-block .single-video:nth-child(2n){margin-right: 0px;}

.youtube-video-container.single-col-3 .small-video-block .single-video{width: 32%; display: inline-block; margin: 0 1% 19px;}
.youtube-video-container.single-col-3 .small-video-block .single-video:nth-child(3n + 1){margin-left: 0px;}
.youtube-video-container.single-col-3 .small-video-block .single-video:nth-child(3n){margin-right: 0px;}

.youtube-video-container.single-col-4 .small-video-block .single-video{width: 23.5%; display: inline-block; margin: 0 1% 19px;}
.youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(4n + 1){margin-left: 0px;}
.youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(4n){margin-right: 0px;}

.youtube-video-container.single-col-5 .small-video-block .single-video{width: 18.4%; display: inline-block; margin: 0 1% 19px;}
.youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(5n + 1){margin-left: 0px;}
.youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(5n){margin-right: 0px;}
.youtube-video-container.single-col-5 .small-video-block .single-video .text-wrap .single-video-title{height: 70px;}

.youtube-video-container.title-align.two-column-layout .small-video-block .single-video .single-video-img{max-width: 40%;}

.youtube-video-container.title-align .small-video-block .single-video .single-video-img{max-width:20%; float: left;}
.youtube-video-container.title-align .small-video-block .single-video .text-wrap {max-width:59%; float: left;}
.youtube-video-container.title-align .small-video-block .single-video .text-wrap p{padding: 7px 12px; box-sizing: border-box;}

.main-video-container {height:auto; vertical-align: top; margin: 0 0 20px;}
.main-video-container .embed-container { position: relative; padding-bottom: 56.25%; height: 0; max-width: 100%; height: auto; } 
.main-video-container .embed-container iframe, .main-video-container .embed-container object, .main-video-container .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.small-video-container {height: auto; overflow: hidden; vertical-align: top;}
.small-video-sub-container{height: auto; width: 100%;}

.small-video-block {height: auto; width: 100%; padding: 0; margin: 0 !important;}
.small-video-block .single-video{position: relative; background: #f5f5f5; text-align:left; padding:0; list-style: outside none none;  margin:0 0 19px; width: 100%; float: left;}
.small-video-block .single-video:last-child{margin-bottom:0;}
.small-video-block .single-video .single-video-img{position: relative; border: 1px solid black; overflow: hidden;text-align: center; font-family:Tahoma; cursor:pointer; background: black;}
.small-video-block .single-video .single-video-img img{width: 100%; margin: -11% 0;}
.small-video-block .single-video .single-video-img p {display: none;}
.small-video-block .single-video .single-video-img .overlap{position:absolute; top:0px; left:0px; width: 100%; height: 100%; cursor:pointer; opacity:.3; z-index:100; background-size: 40px auto; background-repeat: no-repeat; background-position: center; background-color: rgba(255,255,255,0.5);}
.small-video-block .single-video .text-wrap{vertical-align: top;}
.small-video-block .single-video .text-wrap p{line-height: 20px; margin:0px; text-overflow: ellipsis;}
.small-video-block .single-video .text-wrap .single-video-title{height:49px; font-family: Tahoma; font-size: 14px; padding: 5px 10px; overflow: hidden;}

.video-center-nav{ width: 100%; display: inline-block;}
.video-center-nav .video-nav-links{display: inline-block; margin: 0 0 0 50% !important; transform: translate(-50%); -webkit-transform: translate(-50%); -moz-transform: translate(-50%);}
.video-nav-links{clear: both; padding: 0; text-align: center; margin: 0 !important}
.video-nav-links .video-nav-button {background: #999 none repeat scroll 0px 0px; color: #fff; font-size: 13px; margin: 2px; cursor:pointer; padding:5px 15px; display: block; float:left; cursor:pointer; border: 1px solid transparent;}
.video-nav-links .video-nav-button:hover,.video-nav-links .video-nav-selected-button {border:1px solid #ccc; background: none repeat scroll 0 0 #f5f5f5; color:#333; cursor:pointer;}

/*Responsive*/
@media screen and (max-width: 1440px){}
@media screen and (min-width: 1366px) {}
@media screen and (min-width: 1230px) {}
@media screen and (max-width: 1230px) {}
@media screen and (min-width: 1200px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1100px) {
    .youtube-video-container.single-col-5 .small-video-block .single-video .text-wrap .single-video-title {height: 56px; font-size: 13px;line-height: 16px;}
}
@media screen and (max-width: 1080px) {}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 1000px) {}
@media screen and (max-width: 991px) {
    .youtube-video-container.two-column-layout .main-video-container{width: 57%;}
    .youtube-video-container.two-column-layout .small-video-container{width: 40%;}

    .youtube-video-container.two-column-layout.single-col-2 .main-video-container, .youtube-video-container.two-column-layout.single-col-3 .main-video-container, .youtube-video-container.two-column-layout.single-col-4 .main-video-container, .youtube-video-container.two-column-layout.single-col-5 .main-video-container{width: 100%;}
    .youtube-video-container.two-column-layout.single-col-2 .small-video-container, .youtube-video-container.two-column-layout.single-col-3 .small-video-container, .youtube-video-container.two-column-layout.single-col-4 .small-video-container, .youtube-video-container.two-column-layout.single-col-5 .small-video-container{width: 100%; margin-left: 0px;}
    .youtube-video-container.title-align .small-video-block .single-video .single-video-img{max-width: 28%;}

    .video-center-nav .video-nav-links{margin: 0 !important; transform: none !important;}
}

@media screen and (max-width: 980px) {}
@media screen and (max-width: 979px) {}
@media screen and (max-width: 950px) {}
@media screen and (max-width: 920px) {}
@media screen and (max-width: 900px) {}
@media screen and (max-width: 880px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 770px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 767px) {
    .youtube-video-container.two-column-layout .main-video-container{width: 100%;}
    .youtube-video-container.two-column-layout .small-video-container{width: 100%; margin-left:0px;}
    .youtube-video-container.title-align.two-column-layout .small-video-block .single-video .single-video-img {max-width: 30%;}

    .youtube-video-container.single-col-4 .small-video-block .single-video, .youtube-video-container.single-col-5 .small-video-block .single-video{width: 32%; display: inline-block; margin: 0 1% 19px; clear: none !important}
    .youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(4n), .youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(4n + 1), .youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(5n + 1), .youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(5n){margin-left: 1%; margin-right: 1%;}
    .youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(3n + 1), .youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(3n + 1){margin-left: 0px;}
    .youtube-video-container.single-col-4 .small-video-block .single-video:nth-child(3n), .youtube-video-container.single-col-5 .small-video-block .single-video:nth-child(3n){margin-right: 0px;}
    .youtube-video-container.title-align .small-video-block .single-video .single-video-img{max-width: 45%;}
    .youtube-video-container.title-align .small-video-block .single-video .text-wrap{max-width: 55%;}
    .youtube-video-container.title-align .small-video-block .single-video .text-wrap .single-video-title{height: 46px;}
}
@media screen and (max-width: 740px) {}
@media screen and (max-width: 700px) {}
@media screen and (max-width: 685px) {}
@media screen and (max-width: 640px) {}
@media screen and (max-width: 600px) {}
@media screen and (max-width: 580px) {}
@media screen and (max-width: 500px) {}
@media screen and (max-width: 480px) {
    .small-video-block .single-video .text-wrap .single-video-title{font-size: 12px;}
    .youtube-video-container.title-align.two-column-layout .small-video-block .single-video .single-video-img {max-width: 35%;}
    .small-video-block .single-video{width: 100% !important; margin: 0 0 19px !important;}
    .small-video-block .single-video .single-video-img{max-width: 35% !important; float: left;}
    .small-video-block .single-video .text-wrap{max-width: 65% !important; float: left;}
}
@media screen and (max-width: 420px) {}
@media screen and (max-width: 400px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 370px) {}
@media screen and (max-width: 360px) {}
@media screen and (max-width: 340px) {}
@media screen and (max-width: 320px) {}